<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       <!--  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">xieshuai</property>
        <property name="hibernate.connection.url">jdbc:mysql:///test</property>
        <property name="hibernate.connection.username">root</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <mapping resource="com/tmall/beans/Category.hbm.xml"/>
        <mapping resource="com/tmall/beans/Order.hbm.xml"/>
        <mapping resource="com/tmall/beans/OrderItem.hbm.xml"/>
        <mapping resource="com/tmall/beans/Product.hbm.xml"/>
        <mapping resource="com/tmall/beans/ProductImage.hbm.xml"/>
        <mapping resource="com/tmall/beans/Property.hbm.xml"/>
        <mapping resource="com/tmall/beans/PropertyValue.hbm.xml"/>
        <mapping resource="com/tmall/beans/Review.hbm.xml"/>
        <mapping resource="com/tmall/beans/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
